# Cache
__pycache__

# Directories
processing
videos
output

# Other Git Repo
yolov3
Mask_RCNN

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Env
venv

# KDE specific files
.directory

# IDE's specific files
.vscode
.idea

# Ignore commit message file
.commit_msg
